*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow: hidden;

}
body{
    /* background-color: red; */
}
.gameContainer{
    background-image: url("../res/bg.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.dino{
    background-image: url("../res/animated-dog-image-0175.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 23.3rem;
    height: 11.4rem;
    position: absolute;
    bottom:0;
    left: 5.2rem;
}

.obstacle{
    width: 16.6rem;
    height: 11.3rem;
    background-image: url("../res/obst.gif");
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 70vw;
}

.animateDino{
    animation: dino .6s linear;
}

.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}

.gameOver{
    position: relative;
    top:6.3rem;
    font-size: 5.3rem;
    text-align: center; 
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold ;
    color: red;
    
}

.gameOver span.mobile{
    visibility: hidden;
}

#scoreCont{
    font-size: 2.5rem;
    color: #54212f;
    font-weight: bold;
    position: absolute;
    right: 4.5rem;
    top: 3.1rem;
    border: .2rem solid black;
    padding: .1rem;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 1rem;
}
.version{
    position: absolute;
    bottom: .5rem;
    right: .2rem;
    border: .2rem solid black;
    border-radius: 2rem;
    width: 20rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.version{
    position: absolute;
    bottom: .5rem;
    right: .2rem;
    border: .2rem solid black;
    border-radius: 2rem;
    width: 20rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}


@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 42.2rem;
    }
    100%{
        bottom: 0; 
    }
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}

@media(max-width:728px){
    html{
        font-size: 6px;
    }

    .obstacleAni{
        animation: obstacleAni 4s linear infinite;
    }

    .gameOver span.mobile{
        visibility: visible;
    }
<<<<<<< HEAD
    .gameOver{
        text-align: center;
    }
    .gameOver span.desktop{
        visibility: hidden;
    }

}
=======
}
>>>>>>> 09ded9ad7d36c5853167d8febb80c3328ebb7e52
